.header {
    width: 100%;
    background-color: rgb(108, 255, 113);
    text-align: center;
}
.header__headline1 {
    padding-top: 10px;
    color: rgb(255, 98, 0);
}
.header__headline2 {
    padding-top: 30px;
    color: rgb(0, 93, 93);
}